<!DOCTYPE HTML>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>登録結果</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
</head>
<body id="resultPage">
<p>登録完了</p>
<div th:text="${res['response']}"></div>
</body>
<br>
<br>
<button type="button" onclick="location.href='/book/refer'">BOOK参照画面へ</button>
</html>