<!DOCTYPE HTML>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>BOOK登録画面</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<h1>BOOK登録画面</h1>

<form method="post" action="/book/register" th:action="@{/book/register}" th:object="${bookRegisterRequest}">
    <table class="table table-bordered">
        <tr>
            <td><label>ジャンル</label></td>
            <td><input th:type="text" th:name="genre" th:required="required" /></td>
        </tr>
        <tr>
            <td><label>タイトル</label></td>
            <td><input th:type="text" th:name="title" th:required="required" /></td>
        </tr>
        <tr>
            <td><label>作者</label></td>
            <td><input th:type="text" th:name="author" th:required="required" /></td>
        </tr>
        <tr>
            <td><label>内容</label></td>
            <td><input th:type="text" th:name="contents" th:required="required" /></td>
        </tr>
        <tr>
            <td><label>巻数</label></td>
            <td><input th:type="text" th:name="volume" th:required="required" /></td>
        </tr>
    </table>
    <input type="submit" th:value="登録" class="btn btn-info"/>
</form>
</body>
</html>