<!DOCTYPE HTML>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>BOOK登録画面</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<h1>BOOK登録画面</h1>
<!--<a th:href="@{/three-choice-quiz/register}" class="btn btn-info">クイズ登録画面</a>-->

<form method="post" action="/book/register" th:action="@{/book/register}" th:object="${bookRegisterRequest}">
    <table class="table table-bordered">
        <tr>
            <td><label>本のタイトル</label></td>
            <td>
                <input th:type="text" th:name="bookTitle" th:required="required" />
            </td>
        </tr>
    </table>

    <input type="submit" th:value="登録" class="btn btn-info"/>
</form>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"
        th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>