<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.book_management.datasource.db.BookMapper">
    <select id="issue" resultType="int">
        SELECT BOOK_MANAGEMENT_SEQUENCE.NEXTVAL FROM DUAL
    </select>

    <insert id="insert">
        INSERT INTO BOOK_MANAGEMENT (
            BOOK_ID,
            GENRE,
            TITLE,
            AUTHOR,
            CONTENTS,
            VOLUME,
            CREATE_DATE
        ) VALUES (
            #{book.bookId.value},
            #{book.bookApplication.genre.value},
            #{book.bookApplication.title.value},
            #{book.bookApplication.author.value},
            #{book.bookApplication.contents.value},
            #{book.bookApplication.volume.value},
            SYSDATE
        )
    </insert>

    <select id="find" resultMap="referMap">
        SELECT
            book_id
        FROM
            BOOK_MANAGEMENT
        WHERE
            BOOK_ID = #{bookId.value}
    </select>

    <resultMap id="referMap" type="com.example.book_management.datasource.BookIntermediate">
        <constructor>
            <arg column="book_id" javaType="String" jdbcType="VARCHAR" />
        </constructor>
    </resultMap>
</mapper>