<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.book_management.datasource.db.BookMapper">
    <update id="issue">
        UPDATE BOOK_MANAGEMENT_SEQUENCE SET ID = (ID + 1)
    </update>

    <select id="find" resultType="int">
        SELECT ID FROM BOOK_MANAGEMENT_SEQUENCE
    </select>

    <insert id="insert">
        INSERT INTO BOOK_MANAGEMENT (
            BOOK_ID,
            GENRE,
            TITLE,
            AUTHOR,
            CONTENTS,
            VOLUME,
            CREATE_DATE
        ) VALUES (
            #{book.bookId.value},
            #{book.bookApplication.genre.value},
            #{book.bookApplication.title.value},
            #{book.bookApplication.author.value},
            #{book.bookApplication.contents.value},
            #{book.bookApplication.volume.value},
            SYSDATE
        )
    </insert>
</mapper>